soap_client_app/src/main/java/esp/dic2/archi/soapclient/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://finalproject.softarchitecture.dic2.esp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://finalproject.softarchitecture.dic2.esp/" name="UserSoap_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://finalproject.softarchitecture.dic2.esp/" schemaLocation="http://localhost:8081/?xsd=1"/>
</xsd:schema>
</types>
<message name="authentification">
<part name="parameters" element="tns:authentification"/>
</message>
<message name="authentificationResponse">
<part name="parameters" element="tns:authentificationResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="ajoutUtilisateur">
<part name="parameters" element="tns:ajoutUtilisateur"/>
</message>
<message name="ajoutUtilisateurResponse">
<part name="parameters" element="tns:ajoutUtilisateurResponse"/>
</message>
<portType name="UserSoapService">
<operation name="authentification">
<input wsam:Action="http://finalproject.softarchitecture.dic2.esp/UserSoapService/authentificationRequest" message="tns:authentification"/>
<output wsam:Action="http://finalproject.softarchitecture.dic2.esp/UserSoapService/authentificationResponse" message="tns:authentificationResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://finalproject.softarchitecture.dic2.esp/UserSoapService/authentification/Fault/SQLException"/>
</operation>
<operation name="ajoutUtilisateur">
<input wsam:Action="http://finalproject.softarchitecture.dic2.esp/UserSoapService/ajoutUtilisateurRequest" message="tns:ajoutUtilisateur"/>
<output wsam:Action="http://finalproject.softarchitecture.dic2.esp/UserSoapService/ajoutUtilisateurResponse" message="tns:ajoutUtilisateurResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://finalproject.softarchitecture.dic2.esp/UserSoapService/ajoutUtilisateur/Fault/SQLException"/>
</operation>
</portType>
<binding name="UserSoapServicePortBinding" type="tns:UserSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="authentification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="ajoutUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserSoap_Service">
<port name="UserSoapServicePort" binding="tns:UserSoapServicePortBinding">
<soap:address location="http://localhost:8081/"/>
</port>
</service>
</definitions>